<% content_for(:title) { '社員登録' } %>

<% content_for(:breadcrumb) do %>
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/users">社員関連</a></li>
    <li class="breadcrumb-item active"><%= view_i18n('new') %></li>
  </ol>
<% end %>

<%= render 'form', user: @user %>
