<% content_for(:title) { 'リージョン登録' } %>

<% content_for(:breadcrumb) do %>
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/regions">リージョン一覧</a></li>
    <li class="breadcrumb-item active"><%= view_i18n('new') %></li>
  </ol>
<% end %>

<%= render 'form', region: @region %>
